Client/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/Service1/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="LogInUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="LogInUtenteResult" nillable="true" type="q1:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="LogInAdminResult" nillable="true" type="q2:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrazioneUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Psw" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataNascita" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrazioneUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrazioneUtenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPartite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPartiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaPartiteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUtenti">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaUtentiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaUtentiResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPrenotazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPrenotazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListaPrenotazioniResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrelloTabelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="v" type="xs:int" />
        <xs:element minOccurs="0" name="q" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarrelloTabelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarrelloTabelleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaPer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scelta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RicercaPerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="RicercaPerResult" nillable="true" type="q3:ArrayOfDataTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistraPrenotazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="u" nillable="true" type="q4:Utente" />
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistraPrenotazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistraPrenotazioneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodicePartita" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetPostiResult" nillable="true" type="q5:TupleOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>